<!-- templates/home.html -->

{% extends 'base.html' %}

{% load static %}

{% block custom_stylesheets %}
    <link href="{% static 'css/advising_guide.css' %}" rel="stylesheet">
    <link href="{% static 'css/home.css' %}" rel="stylesheet">
{% endblock custom_stylesheets %}

{% block content %}
<div class="container">
    <div class="jumbotron">
        <h1>About Engineering Transfer Advising Guides</h1>
        <p class="lead">These guides were constructed with Portland Community College's transfer guide pages and Oregon Institute of Technology transfer mapping pages</p>
        <a class="btn btn-lg btn-success" href="{% url 'major_list' %}" role="button">View All Majors »</a>
    </div>
</div> <!-- /container -->
{% endblock content %}
