<!-- templates/major_detail.html -->

{% extends 'base.html' %}

{% load static %}

{% block custom_stylesheets %}
    <link href="{% static 'css/advising_guide.css' %}" rel="stylesheet">
{% endblock custom_stylesheets %}

{% block content %}
<div class="container">
    <h3>{{ object.name }} Advising Guide</h3>
    <hr>
    <h4>Engineering courses</h4>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">Course number</th>
                <th scope="col">Course name</th>
                <th scope="col">Credits</th>
                <th scope="col">PSU equivalent</th>
                <th scope="col">OSU equivalent</th>
                <th scope="col">OIT equivalent</th>
                <th scope="col">Prerequisites</th>
            </tr>
        </thead>
        <tbody>
            {% for course in object.courses.all %}
            {% if course.course_type == "ENGR" %}
            <tr>
                <td>{{ course.course_number }}</td>
                <td>{{ course.course_name }}</td>
                <td>{{ course.credits }}</td>
                <td>{{ course.psu_equivalent }}</td>
                <td>{{ course.osu_equivalent }}</td>
                <td>{{ course.oit_equivalent }}</td>
                <td>{{ course.pre_reqs }}</td>
            </tr>
            {% endif %}
            {% endfor %}
        </tbody>
      </table>

      <hr>
      <h4>Science and programming courses</h4>
      <table class="table">
        <thead>
            <tr>
                <th scope="col">Course number</th>
                <th scope="col">Course name</th>
                <th scope="col">Credits</th>
                <th scope="col">PSU equivalent</th>
                <th scope="col">OSU equivalent</th>
                <th scope="col">OIT equivalent</th>
                <th scope="col">Prerequisites</th>
            </tr>
        </thead>
        <tbody>
            {% for course in object.courses.all %}
            {% if course.course_type == "SCI" %}
            <tr>
                <td>{{ course.course_number }}</td>
                <td>{{ course.course_name }}</td>
                <td>{{ course.credits }}</td>
                <td>{{ course.psu_equivalent }}</td>
                <td>{{ course.osu_equivalent }}</td>
                <td>{{ course.oit_equivalent }}</td>
                <td>{{ course.pre_reqs }}</td>
            </tr>
            {% endif %}
            {% endfor %}
        </tbody>
      </table>

      <hr>
      <h4>Mathematics courses</h4>
      <table class="table">
        <thead>
            <tr>
                <th scope="col">Course number</th>
                <th scope="col">Course name</th>
                <th scope="col">Credits</th>
                <th scope="col">PSU equivalent</th>
                <th scope="col">OSU equivalent</th>
                <th scope="col">OIT equivalent</th>
                <th scope="col">Prerequisites</th>
            </tr>
        </thead>
        <tbody>
            {% for course in object.courses.all %}
            {% if course.course_type == "MTH" %}
            <tr>
                <td>{{ course.course_number }}</td>
                <td>{{ course.course_name }}</td>
                <td>{{ course.credits }}</td>
                <td>{{ course.psu_equivalent }}</td>
                <td>{{ course.osu_equivalent }}</td>
                <td>{{ course.oit_equivalent }}</td>
                <td>{{ course.pre_reqs }}</td>
            </tr>
            {% endif %}
            {% endfor %}
        </tbody>
      </table>

      <hr>
      <h4>Communication and writing courses</h4>
      <table class="table">
        <thead>
            <tr>
                <th scope="col">Course number</th>
                <th scope="col">Course name</th>
                <th scope="col">Credits</th>
                <th scope="col">PSU equivalent</th>
                <th scope="col">OSU equivalent</th>
                <th scope="col">OIT equivalent</th>
                <th scope="col">Prerequisites</th>
            </tr>
        </thead>
        <tbody>
            {% for course in object.courses.all %}
            {% if course.course_type == "COMM" %}
            <tr>
                <td>{{ course.course_number }}</td>
                <td>{{ course.course_name }}</td>
                <td>{{ course.credits }}</td>
                <td>{{ course.psu_equivalent }}</td>
                <td>{{ course.osu_equivalent }}</td>
                <td>{{ course.oit_equivalent }}</td>
                <td>{{ course.pre_reqs }}</td>
            </tr>
            {% endif %}
            {% endfor %}
        </tbody>
      </table>
    </div>

{% endblock content %}
